body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.shopItem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.user-container {
    display: flex;
    align-items: center;
    margin-left: 80%;
    margin-right: 2%;
}

.user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-name{
    color: var(--primary-text-color);
}

.shopItem .gameItem-info {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section_background);
    width: 100%;
    padding: 20px;
}

.gameItem-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--section_background);
    width: 80%;
    max-width: 60%;
    margin: auto;
    padding: 20px;
}

.shopItem-main {
    flex: 1;
    text-align: center;
    padding: 30px 40px;
    align-items: center;
    background-color: var(--main_background);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.game-title-container {
    width: 100%;
    text-align: center;
}

.game-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.gameItem-image {
    width: auto;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 5%;
}

.game-details {
    flex-grow: 1;
    text-align: left;
    max-width: 50%;
}

.gameItem-description,
.gameItem-genre {
    margin-bottom: 10px;
}

.gameItem-description {
    color: var(--primary-text-color);
}

.gameItem-genre {
    color: var(--secondary-text-color);
}

.gameItem-title {
    color: var(--primary-text-color);

}

.purchase-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.gameItem-price {
    font-size: 1.2em;
    color: var(--primary-text-color);
    margin-right: 15px;
}

.buy-button,
.buy-buttonOff{
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: darken(var(--button-bg), 10%);
}