.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo-container {
    width: 100%;
    height: auto;
    background-color: var(--header_background);
    padding: 20px;
    display: flex;
    align-items: center;
}

.app-logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.main-content {
    flex: 1;
    text-align: center;
    padding: 30px 40px;
    align-items: center;
    background-color: var(--main_background);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.section-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 10%;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
    color: var(--primary-text-color);
    flex-grow: 1;
    min-height: 400px;
    width: 33%;
}

.profile-image{
    width: calc(33.33% - 10px);
    height: 120px;
    background-color: var(--section_background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}


.store-section {
    flex-direction: column;
    align-items: center;
}

.image-panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.image-panel {
    width: calc(33.33% - 10px);
    height: 120px;
    background-color: var(--section_background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.image-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}


.store-section,
.profile-section,
.login-section{
    background-color: var(--section_background);
    height: 100%;
}

.section-container:hover {
    width: 36%;
    margin: 5% 8%;
}

.switch-container {
    margin-right: 20px;
    margin-left: auto;
    align-content: flex-end;
}

.section-container.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content {
    display: flex;
    align-items: center;
    width: auto;
    margin-top: 10%;
}

.profile-image {
    margin-right: 20px;
    width: 170px;
    height: 140px;
    background-color: var(--section_background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile-username {
    margin-left: 5%;
}

.logreg{
    width: 100px;

    color: var(--primary-text-color);
}
.login-section{
    align-items: center;

}



