.footer {
    position: absolute;
    height: 7%;
    width: 100%;
    color: #ee0808;
    margin-top: auto;
    background-color: var(--footer_background);
}
.footer-text {
    text-align: right; /* Align the text to the right */
    padding: 1%;
}