.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo-container {
    width: 100%;
    height: auto;
    background-color: var(--header_background);
    padding: 20px;
    display: flex;
    align-items: center;
}

.app-logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.main-content {
    flex: 1;
    text-align: center;
    padding: 30px 40px;
    align-items: center;
    background-color: var(--main_background);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.section-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
    color: var(--primary-text-color);
    flex-grow: 1;
    min-height: 400px;
    width: 33%;
}


.store-section {
    flex-direction: column;
    align-items: center;
}

.image-panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.image-panel {
    width: calc(33.33% - 10px);
    height: 120px;
    background-color: var(--section_background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.image-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}


.store-section,
.library-section,
.profile-section {
    background-color: var(--section_background);
    height: 100%;
}

.section-container:hover {
    height: 65%;
    width: 45%;
    margin: 40px;
}

.switch-container {
    margin-right: 20px;
    margin-left: auto;
    align-content: flex-end;
}



